{% extends 'base.html' %}

{% block title %}
    Contract List
{% endblock %}

{% block content %}
    <h1>Contract List</h1>
    <a href="{% url 'add_contract' %}" class="add-button fas fa-plus">Add new Contract</a> <!-- Green button -->
    <form action="" method="GET" class="mb-3" style="display: flex; align-items: center;">
        <label for="search" style="margin-right: 10px;">Search by Contract Id or Unit ID or Tenant Name:</label>
        <input type="text" name="search" id="search" value="{{ request.GET.search }}" style="flex: 1; padding: 5px; border: 1px solid #ccc; border-radius: 5px; margin-right: 10px;">
        <button type="submit" style="padding: 5px 10px; background-color: #007bff; color: #fff; border: none; border-radius: 5px;">Search</button>
    </form>
    <div>
        <p>Total Contracts: {{ contracts|length }}</p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Contract ID</th>
                <th>Tenant Name</th>
                <th>Unit ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Rent Amount</th>
                <th>Actions</th> <!-- Added column header for actions -->
            </tr>
        </thead>
        <tbody>
            {% for contract in contracts %}
                <tr>
                    <td>{{ contract.contract_id }}</td>
                    <td>{{ contract.tenant_name }}</td>
                    <td>{{ contract.unit_id }}</td>
                    <td>{{ contract.start_date }}</td>
                    <td>{{ contract.end_date }}</td>
                    <td>{{ contract.unit_id.rent_amount }}</td>
                    <td>
                        <a href="{% url 'edit_contract' contract.contract_id %}" class="action-link">Edit</a>
                        <a href="{% url 'delete_contract' contract.contract_id %}" class="action-link">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}