{% extends 'base.html' %}

{% block title %}
    Edit Contract
{% endblock %}
{% block content %}
    <h1>Edit Contract</h1>
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>
        <!-- Display "Property Edited" message if edited parameter is True -->
        {% if edited %}
        <div style="background-color: #5cb85c; color: #fff; padding: 10px; border-radius: 4px;">
            Contract Edited
        </div>
        {% endif %}
    </div>
{% endblock %}
