{% extends 'tenant_base.html' %}
{% block title %}
    Request Maintenance
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Request Maintenance</h1>
                <form id="maintenanceForm" class="mt-4" method="post" action="{% url 'request_maintenance' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="unit_id">Unit ID:</label>
                        <input type="text" id="unit_id" name="unit_id" class="form-control" value="{{ contract.unit_id.unit_id }}" readonly required>
                    </div>
                    <div class="form-group">
                        <label for="tenant_name">Tenant Name:</label>
                        <input type="text" id="tenant_name" name="tenant_name" class="form-control" value="{{ contract.tenant_name }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="maintenance_type">Describe Maintenance Needed:</label>
                        <input type="text" id="maintenance_type" name="maintenance_type" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
