<!-- unit_list.html -->
{% extends 'base.html' %}

{% block title %}
    Unit List
{% endblock %}

{% block content %}
    <h1>Unit List</h1>
    <a href="{% url 'add_unit' %}" class="add-button">Add new Unit</a> <!-- Green button -->

    <!-- Filter by status -->
    <form action="" method="GET" class="mb-3" style="display: flex; align-items: center;">
        <label for="status" style="margin-right: 10px;">Filter by status:</label>
        <select name="status" id="status" style="padding: 5px; border: 1px solid #ccc; border-radius: 5px; margin-right: 10px;">
            <option value="">All</option>
            <option value="occupied" {% if request.GET.status == "occupied" %}selected{% endif %}>Occupied</option>
            <option value="vacant" {% if request.GET.status == "vacant" %}selected{% endif %}>Vacant</option>
        </select>
        <button type="submit" style="padding: 5px 10px; background-color: #007bff; color: #fff; border: none; border-radius: 5px;">Filter</button>
    </form>

    <!-- Search by unit ID -->
    <form action="" method="GET" class="mb-3" style="display: flex; align-items: center;">
        <label for="search" style="margin-right: 10px;">Search by unit ID:</label>
        <input type="text" name="search" id="search" value="{{ request.GET.search }}" style="flex: 1; padding: 5px; border: 1px solid #ccc; border-radius: 5px; margin-right: 10px;">
        <button type="submit" style="padding: 5px 10px; background-color: #007bff; color: #fff; border: none; border-radius: 5px;">Search</button>
    </form>


    <table>
        <thead>
            <tr>
                <th>Unit ID</th>
                <th>Unit Type</th>
                <th>Rent Amount</th>
                <th>Is it Vacant/Occupied</th>
                <th>Property Name</th>
            </tr>
        </thead>
        <tbody>
            {% for unit in units %}
                <tr>
                    <td>{{ unit.unit_id }}</td>
                    <td>{{ unit.unit_type }}</td>
                    <td>{{ unit.rent_amount }}</td>
                    <td>{% if unit.active %}Vacant{% else %}Occupied{% endif %}</td>                    
                    <td>{{ unit.property_name }}</td>
                    <!-- Display other property information -->
                    <td><a href="{% url 'edit_unit' unit.unit_id %}">Edit</a></td>
                    <td><a href="{% url 'delete_unit' unit.unit_id %}">Delete</a></td>                
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
